<nav class="nav">
    <h1>Wow Reddit Scraper</h1>
         <button class="btn" id="clear" onclick="window.location.href='/clear'">Re-Scrape</button>
         <button class="btn" id="scrape" onclick="window.location.href='/scrapah'">Scrape</button>
</nav>
<div id="wrapper">
    

    <div id="articles">
        {{#each items}}
       
        <div class="article"><p>{{title}}</p>
            <a target="_blank" href="https://old.reddit.com{{link}}">View Article</a>
            <button class=" btn addNote myBtn" data-id="{{_id}}">Add Note</button><div class="arrow"><p>View Notes</p><img src="./images/arrow.png" class="viewNote" data-id="{{_id}}"></div>
        </div>


        {{/each}}
    </div>
    <div id="notes"></div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Add a Note</p>
        <input id="notetitle" type="text">
        <br>
        <textarea id="notetext" type="text"></textarea>
        <br>
        <button class="btn" id="submit" data-id="{{_id}}">Submit</button>
    </div>

</div>

<div id="editModal" class="modal">
    <div class="modal-content">
        <span id="editspan" class="close">&times;</span>
        <p>Edit Note</p>
        <input id="edittitle" type="text">
        <br>
        <textarea id="edittext" type="text"></textarea>
        <br>
        <button id="save">Save</button>
    </div>

</div>